*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
	width: 300px;
}

.popup-container {
	display: flex;
	flex-direction: column;
}

.brand-logo, .brand-logo img {
	height: 100%;
}

.brand-logo img {
	padding: 10px;
}

.action-buttons-container {
	background-color: #ecf0f1;
}

.action-buttons-container .action-buttons {
  width: 200px;
  height: 200px;
  margin: auto;
  filter: url("#goo");
}
.action-buttons-container .action-buttons .action-button {
  position: absolute;
  left: 65px;
  top: 65px;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  font-weight: 700;
  font-size: 30px;
  font-family: sans-serif;
  background: #ee6e73;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease;
}

.action-buttons-container .action-buttons .action-button:hover,
.action-buttons-container .action-buttons .action-button:hover a {
  color: #af4448;
  box-shadow: 0 0 15px #ee6e73;
}

.action-buttons-container .action-buttons .action-button a {
	text-decoration: none;
	color: white;
}

.action-buttons-container .action-button-1 {
  transform: translate3d(-50px, -50px, 0);
}
.action-buttons-container .action-button-2 {
  transform: translate3d(-50px, 50px, 0);
}
.action-buttons-container .action-button-3 {
  transform: translate3d(50px, 50px, 0);
}
.action-buttons-container .action-button-4 {
  transform: translate3d(50px, -50px, 0);
}

.page-footer {
	padding: 0 !important;
}